html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg-img{
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(../img/characterscreen/camp.png);
  background-attachment: fixed;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -1;
}
.grid-container {
  display: grid;
  position: fixed;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.class-selection {
  grid-column: 1/2;
  grid-row: 2/3;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #355e3b9a;
  font-family: Pixelify Sans;
  text-transform: uppercase;
  color: white;
    text-shadow:  4px 4px #2e5133;
}

.variant-selection {
  grid-column: 1/2;
  grid-row: 3/4;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #355e3b9a;

  font-family: Pixelify Sans;
  text-transform: uppercase;
  color: white;
  text-shadow:  4px 4px #2e5133;
}

.character-image {
  grid-column: 2/3;
  grid-row: 2/4;
  filter: drop-shadow(20px 20px 30px black);
}

.stats-display {
  grid-column: 3/4;
  grid-row: 2/4;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pixelify Sans;
  color: white;
  text-transform: uppercase;
  text-shadow:  4px 4px #2e5133;
  background-color: #355e3b9a;
}

.class-description {
  grid-column: 2/3;
  grid-row: 4/5;

  display: flex;
  justify-content: center;
  align-items: center;
}

.class-name {
  grid-column: 2/3;
  grid-row: 1/2;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pixelify Sans;
  color: white;
  text-transform: uppercase;
  text-shadow:  4px 4px #2e5133;
}

.done-button {
  grid-column: 3/4;
  grid-row: 4/5;

  display: flex;
  justify-content: center;
  align-items: center;
}



.class-description p {
  margin: 0;
  padding: 0;

  text-align: center;
  font-family: Rokkitt;
  color: white;
  text-shadow:  4px 4px #2e5133;
}

.stats-container {
  line-height: 3;
}

.character-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 10%;
  width: 100%;

  font-family: Pixelify Sans;
  color: white;
  text-shadow:  4px 4px #2e5133;
}

select {
  padding: 0;
  width: 15%;
  text-align: center;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";

  opacity: 1;
  background-color: transparent;
  border: none;
  color: white;
}
