html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid-container {
  display: grid;
  display: grid;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
}

.map-container {
  position: relative;
  background-color: aquamarine;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.account-stats-container {
  position: relative;
  background-color: coral;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  overflow-y: hidden;
  border-left: 2px solid black;
}

.moveset-container {
  position: relative;
  background-color: darkgoldenrod;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  overflow-y: hidden;
  overflow-x: hidden;
  border-left: 2px solid black;
  border-top: 2px solid black;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  width: 100%;
}

.moveset-container div {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.moveset-container div p {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moveset-container #move1 {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.moveset-container #move4 {
  border-left: 2px solid black;
  border-top: 2px solid black;
}

.moveset-container div .desc {
  visibility: hidden;
}

.moveset-container div:hover > p.move {
  display: none;
}

.moveset-container div:hover > p.desc {
  visibility: visible;
}

.character-container {
  position: relative;
  background-color: darkseagreen;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  overflow-y: hidden;
  border-top: 2px solid black;
}

.prompt-container {
  position: relative;
  background-color: darkslateblue;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  overflow-y: hidden;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.character-stats-container {
  position: relative;
  background-color: darkslategray;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  overflow-y: hidden;
  border-left: 2px solid black;
  border-top: 2px solid black;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  width: 100%;
}

.character-stats-container > p {
  display: flex;
  justify-content: center;
  align-items: center;
}
