html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid-container {
  display: grid;
  display: grid;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
}

.map-container {
  position: relative;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/mapscreen/map.jpg);
  background-size: 68vw 76vh;
  background-repeat: no-repeat;
  background-position: center;
}

.space {
  background-color: rgba(255, 255, 255, 0);
  width: 12%;
  aspect-ratio: 1/1;
}

.space img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.account-stats-container {
  position: relative;
  background-image: url(../img/mapscreen/banner_right.jpg);
  background-size: 33.5vw 50vh;
  background-repeat: no-repeat;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  overflow-y: hidden;
  overflow-x: hidden;
  border-left: 2px solid #33240f;
}

.account-stats-container > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 15%;
  width: 100%;
  color: #271306;
  font-family: Pixelify Sans;
  text-shadow: 2px 2px 2px #625137b4;
  text-transform: uppercase;
}

.stats {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 80%;
  width: 100%;
}

.stats p {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  color: #271306;
  font-family: Rokkitt;
  text-shadow: 2px 2px 2px #625137b4;
}

.btn-container {
  position: absolute;
  width: 100%;
  gap: 5%;
  bottom: 2vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn-container button {
  width: 20%;
  font-family: Pixelify Sans;
  color: #271306;
  text-shadow: 2px 2px 2px #625137ab;
  text-transform: uppercase;
  background-color: #b89872;
  border: 2px solid black;
}

.moveset-container {
  position: relative;
  background-image: url(../img/mapscreen/banner_rightcorner.jpg);
  background-repeat: no-repeat;
  background-size: 33.6vw 26vh;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  overflow-y: hidden;
  overflow-x: hidden;
  border-top: 2px solid #33240f;
  border-left: 2px solid #33240f;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  width: 100%;
}

.moveset-container div {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.moveset-container div p {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #271306;
  font-family: Pixelify Sans;
  text-shadow: 2px 2px 2px #625137b4;
  text-transform: uppercase;
}

.moveset-container #move0 {
  border-right: 2px solid #33240f;
  border-bottom: 2px solid #33240f;
}

.moveset-container #move3 {
  border-left: 2px solid #33240f;
  border-top: 2px solid #33240f;
}

.moveset-container div .desc {
  visibility: hidden;
}

.moveset-container div:hover > p.move {
  display: none;
}

.moveset-container div:hover > p.desc {
  visibility: visible;
}

.pet-container {
  position: relative;
  background-image: url(../img/mapscreen/bricks.png);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  overflow-y: hidden;
  border-top: 2px solid #33240f;

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: #28221b;
  text-shadow: 2px 3px 4px #372f25bd;
  background-color: #a48d765e;
  font-family: Rokkitt;
  font-size: 1.3em;
}

.pet-container select {
  padding: 0;
  width: 15%;
  text-align: center;

  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";

  opacity: 1;
  background-color: transparent;
  border: none;
  color: #28221b;
  text-shadow: 2px 3px 4px #372f25bd;
  background-color: #a48d765e;
  font-family: Pixelify Sans;
  text-transform: uppercase;
}

.pet-container select::-ms-expand {
  display: none;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 10%;
  width: 100%;

  color: #28221b;
  text-shadow: 2px 3px 4px #372f25bd;
  background-color: #a48d765e;
  font-family: Pixelify Sans;
  text-transform: uppercase;
}

select {
  opacity: 1;
  background-color: transparent;
  border: none;
  color: black;
}

.prompt-container {
  position: relative;
  background-image: url(../img/mapscreen/bricks.png);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  overflow-y: hidden;
  border-top: 2px solid #33240f;
  border-left: 2px solid #7c6a56;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #28221b;
  text-shadow: 2px 3px 4px #372f25bd;
  background-color: #a48d765e;
  font-family: Rokkitt;
  font-size: 1.3em;
}
.prompt-container p {
  position: fixed;
  bottom: 9.5vh;
}
.character-stats-container {
  position: relative;
  background-image: url(../img/mapscreen/bricks.png);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  overflow-y: hidden;
  border-top: 2px solid #7c6a56;
  border-left: 2px solid #7c6a56;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  width: 100%;

  color: #28221b;
  text-shadow: 2px 3px 4px #372f25bd;
  background-color: #a48d765e;
  font-family: Pixelify Sans;
  text-transform: uppercase;
  font-size: 1.3em;
}

.character-stats-container > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

.space:nth-child(1) {
  position: absolute;
  top: 13vh;
  left: 10vh;
}

.space:nth-child(2) {
  position: absolute;
  top: 3vh;
  left: 25vh;
}

.space:nth-child(3) {
  position: absolute;
  top: 15vh;
  left: 50vh;
}

.space:nth-child(4) {
  position: absolute;
  top: 30vh;
  left: 60vh;
}

.space:nth-child(5) {
  position: absolute;
  top: 27vh;
  left: 105vh;
}

#arrowLeft:hover,
#arrowRight:hover {
  cursor: pointer;
}
